First we do some basic stuff, import of data and print some simple stuff

In [1]:
import pandas as pd

df = pd.read_csv("../data/Trips_2018.csv")

In [2]:
import numpy as np

pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 120)

print("rows:", len(df))
print("cols:", df.shape[1])
print("memory_mb:", round(df.memory_usage(deep=True).sum()/1_048_576, 2))

print("\ncolumn dtypes:")
print(df.dtypes.sort_index())

print("\nmissing (top 10):")
na = df.isna().sum()
na_pct = (na/len(df)*100).round(2)
missing = pd.DataFrame({"missing": na, "missing_pct": na_pct}).sort_values("missing", ascending=False).head(10)
display(missing)

print("\nunique values (top 10):")
display(df.nunique(dropna=False).sort_values(ascending=False).head(10))

print("\nhead:")
display(df.head(5))

rows: 17548339
cols: 14
memory_mb: 5301.43

column dtypes:
Unnamed: 0                   int64
bikeid                       int64
birth_year                   int64
end_station_id             float64
end_station_latitude       float64
end_station_longitude      float64
gender                       int64
start_station_id           float64
start_station_latitude     float64
start_station_longitude    float64
starttime                   object
stoptime                    object
tripduration                 int64
usertype                    object
dtype: object

missing (top 10):

                         missing  missing_pct
start_station_id            2497         0.01
end_station_id              2497         0.01
Unnamed: 0                     0         0.00
tripduration                   0         0.00
starttime                      0         0.00
stoptime                       0         0.00
start_station_latitude         0         0.00
start_station_longitude        0         0.00
end_station_latitude           0         0.00
end_station_longitude          0         0.00

unique values (top 10):

Unnamed: 0                 17548339
stoptime                   17539219
starttime                  17539104
tripduration                  30640
bikeid                        15244
end_station_longitude           867
end_station_latitude            862
end_station_id                  851
start_station_longitude         835
start_station_latitude          830
dtype: int64

head:

,Unnamed: 0,tripduration,starttime,stoptime,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,40.767272,-73.993929,505.0,40.749013,-73.988484,31956,Subscriber,1992,1
1,1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,40.767272,-73.993929,3255.0,40.750585,-73.994685,32536,Subscriber,1969,1
2,2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,40.767272,-73.993929,525.0,40.755942,-74.002116,16069,Subscriber,1956,1
3,3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,40.767272,-73.993929,447.0,40.763707,-73.985162,31781,Subscriber,1974,1
4,4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,40.767272,-73.993929,3356.0,40.774667,-73.984706,30319,Subscriber,1992,1

Next, I will try to add some weather data, event data and holiday data to see if this influence the number of bike rides

Next, I want to look at how to increase revenue and I want to do that by looking at the top earning bikes and look at their routes. Is it in the middle of town, is it outside of town, this can maybe say something about where we put too many bikes that are idle. We could also look at if long trips or short trips bring the most revenue and gain business insights.